body {
	font-family: 'Noto Sans', sans-serif;
}

h1 {
	font-weight: bold;
	font-size: 4em;
}

.section {
 	min-height: 100%;
	min-height: 100%;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(23, 56, 94, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #fff;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */
.logo {
	float: left
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}

.colum-left {
  max-width: 33%;
  min-width: 33%;
  min-height: 21rem;
  float: left;
  margin: inherit;
}

.colum-center {
  max-width: 33%;
  min-width: 33%;
  min-height: 21rem;
  float: none;
  margin: inherit;
}

.colum-left {
  max-width: 33%;
  min-width: 33%;
  min-height: 21rem;
  float: left;
  margin: inherit;
}
/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }
